body{
    margin: 0px;
    padding: 0px;
    background-color:#F2D45A;
}
#main{
    position: absolute;
    top:50%;
    left: 80%;
    transform: translate(-50%,-50%);
}
#img{
    width: 250px;
    position: relative;
    animation: anim 3s infinite;
}
@keyframes anim{
    0%{
        top:0px;
    }
    50%{
        top:25px;
    }
    100%{
        top:0px;
    }
}
#shadow1{
    height: 10px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 70px;
    -webkit-filter:blur(20px);
    z-index: 99;
    animation: anim2 3s infinite;
}
@keyframes anim2{
    0%{
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }
    50%{
        height: 3px;
        width: 150px;
        background-color: rgba(0,0,0,1);
    }
    100%{
        height: 8px;
        width: 180px;
        background-color: rgba(0,0,0,.6);
    }
}
#shadow2{
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-filter:blur(10px);
    z-index: 999;
    animation: anim3 3s infinite;
}
@keyframes anim3{
    0%{
        height: 4px;
        width: 130px;
        background-color:rgba(0,0,0,.1);
    }
    50%{
        height: 3px;
        width: 120px;
        background-color:rgba(0,0,0,.7);
    }
    100%{
        height: 4px;
        width: 130px;
        background-color:rgba(0,0,0,.1);
    }
}
#text{
    font-family: Gloss And Bloom;
    font-size: 120px;
    color:#292929;
    font-weight: 500;
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%);
}







